[package]
name = "example"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["rlib", "cdylib"]
name = "example"
path = "src/lib.rs"

[[bin]]
name = "example"
path = "src/main.rs"

[dependencies]
tessera-ui = { path = "../tessera-ui" }
tessera-ui-basic-components = { path = "../tessera-ui-basic-components" }
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.43"
tracing-subscriber = { version = "0.3.20", features = ["env-filter", "fmt"] }
parking_lot = { version = "0.12.5", features = ["deadlock_detection"] }
wgpu = "27.0.1"
bytemuck = { version = "1.24.0", features = ["derive"] }
image = "0.25.9"
dashmap = "6.1.0"
closure = "0.3.0"

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.15.1"
