<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{{project_name}}</title>
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #111;
        user-select: none;
        -webkit-user-select: none;
      }

      canvas,
      canvas:focus,
      canvas:focus-visible {
        display: block;
        width: 100%;
        height: 100%;
        outline: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
      }
    </style>
  </head>
  <body>
    <canvas id="{{lib_name}}"></canvas>
    <script type="module">
      import init from "./pkg-web/{{lib_name}}.js";

      await init();
    </script>
  </body>
</html>
