[package]
name = "{{project_name}}"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["rlib", "cdylib"]
name = "{{project_name_snake}}"
path = "src/lib.rs"

[[bin]]
name = "{{project_name_snake}}"
path = "src/main.rs"

[dependencies]
tessera-ui = "2"
tessera-components = "2"
parking_lot = { version = "*", features = ["deadlock_detection"] }
tracing = "*"
tracing-subscriber = { version = "*", features = ["fmt", "env-filter"] }
